:root {
    --primary-color: #00ffcc;
    --background-color: #121212;
    --text-color: #ffffff;
    --accent-color: #ff4081;
    --transition-speed: 0.3s;
    --gradient-start: #7078dd;
    --gradient-end: #c8a2b9; 
    --orange: #ff8c00;
}

html {
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px; /* Setting default font size as 18px for better readability */
    line-height: 1.5; /* Setting default line height as 1.5 for better readability */
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2 {
    text-align: center;
}

h1 {
    color: var(--text-color); /* White color text in default state */
    font-size: 4rem;
}
.text-section h1:hover {
    cursor: pointer;
    color: transparent; /* Make text transparent on hover */
    background: linear-gradient(90deg, var(--gradient-start), var(--gradient-end)); /* Add gradient background for the text */
    -webkit-background-clip: text; /* Cut the background behind the text */
    -webkit-text-fill-color: transparent; /* Insure the text is transparent in webkit browsers */
}


.text-section p {
    font-size: 1.5rem;
    text-align: center; 
}



.hero {
    display: flex;
    height: 100vh;
}

.hero-content {
    display: flex;
    width: 100%;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.services {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh; 
    background: linear-gradient(90deg, var(--gradient-start),var(--gradient-end)); 
    color: var(--text-color); 
}

h2 {
    font-size: 1.75rem; 
    margin-bottom: 30px; 
    color: var(--text-color);
}


.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center; 
    max-width: 1200px; 
    width: 100%; 
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform var(--transition-speed);
    width: 320px; 
    cursor: pointer; /* Turn cursor into a pointer for better accessibility */
}

.service-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px; 
}

.service-item:hover {
    transform: scale(1.05);
}

.popup {
    display: none; /* Hidden on default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgba(255, 255, 255, 0.1); /* Half-transparent background for amorph glass */
    backdrop-filter: blur(10px); /* Blur background */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    width: 300px;
}

.close {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
}

.partners {
    padding: 50px 20px;
    background-color: transparent; 
    text-align: center;
}

.partners-grid {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.partner-item {
    flex: 1; 
    min-width: 150px; 
    max-width: 200px; 
    display: flex; 
    justify-content: center; 
    
}

.partner-item img {
    
    width: 100%; 
    height: 100px; 
    object-fit: contain; 
    border-radius: 8px; 
    transition: transform var(--transition-speed);
}

.partner-item img:hover {
    transform: scale(1.05); 
}




.contact-form {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #1e1e1e; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

input, textarea {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: #2a2a2a;
    color: var(--text-color);
    min-width: 50vw;
    max-width: 80vw;
}

button {
    padding: 10px;
    background-color: var(--orange);
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color var(--transition-speed);

}

button:hover {
    background-color: #ff8c00b1; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem; /* Make the header smaller for mobile */
    }

    .service-grid {
        flex-direction: column; /* Change the layout for mobile */
        align-items: center; 
    }

    .service-item {
        width: 80%; /* Widen the service items for mobile */
    }
}
